p {
    color:#A52A2A;
    color:rgb(255,0,0);
    text-align:center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height:30px;
    
}
h1 {
    color:#A52A2A;
    text-align:center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}
h3 {
   color:#A52A2A;
   text-align:center;
   color:#000000;
   font-family:Georgia, 'Times New Roman', Times, serif;
}
h4 {
    color:#A52A2A;
    text-align:center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    }
    a {
        color:rgb(0,255,0);
        text-decoration:none;
    }
button {
    color:blueviolet;
    background-color: white;
}
textarea {
    color:#000000;
}
span {
  text-decoration:underline;
}