.card {
 display:inline-block;
 height: 500px;
 width:300px;
 border:10px solid black;
 margin:10px;
 transition:border 2s ease 0s;
}

img {
    width:100%;
    set to 100% means image will cover the entire 100 percent of the card container width
    height:50%;
this means image will cover 50 percent of the card height and leave other heitght for description
}
.Wdescription,.Mdescription {
    padding:10px;
}

.card:hover {
   box-shadow:20px 20px 10px purple;
}

